<div class="contents">
	<section class="para1">
		<p>A graduate of New York University, Nimayi studied finance and economics.</p>
	</section>
	<section class="para2">
		<p>He recently left his job at an Asset Management firm in order to pursue education in web development and programming. He hopes to start his own business some day soon.</p>		
	</section>
	<section class="para3">
		<p>Nimayi is always interested in learning new things. In his free time he likes to read and play sports.</p>
	</section>
</div>
<footer>
	<h4><a href='localhost:3000/formal-hello'>Say Hello</a></h4>
</footer>
